/* Estilos para la pantalla de carga */
.pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }
  
  .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5x solid #007bff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Estilos para el contenido principal */
  main {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  